<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">58安居客</title>
  </head>
  <body>
    <div layout:fragment="content">
      <!-- this is content -->
    </div>
  </body>
  <th:block layout:fragment="scripts"></th:block>
</html>